/* _variables.scss */
$container-max: 1100px;

$color-text: #e46b0e;
$color-bg: #cf0e0e;
$color-border: #f0270d;

$primary-color: rgba(145, 41, 41, 0.31);

$radius: 10px;
$shadow: 0 6px 18px rgba(0, 0, 0, 0.08);

$space-2: 0.5rem;  // 8px aprox
$space-3: 0.75rem; // 12px aprox
$space-4: 1rem;    // 16px aprox

$bp-md: 768px;
$bp-lg: 1024px;